.sample {
    text-align: center;
    font-size: x-large;
    
  }

  .search_container{
    box-sizing: border-box;
  }
  .search_container input[type="text"]{
    border: 1px solid #999;
    padding: 3px 5px;
    border-radius: 20px;
    height: 2.0em;
    width: 245px;
    overflow: hidden;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  .search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: #000000;
    outline : none;
    display: inline-block;
    vertical-align: middle;
  }

  .item-list{
    display: flex;
    justify-content: center;
  }
  .item-list .item{
    box-sizing: border-box;
    padding: 40px 80px;  
  }
  .color2 {
    height: 50px;
    background-color: rgb(255, 255, 255);
  }

  body {
    font-family: sans-serif;
    color: black;
    background-color: rgb(255, 255, 255);
  
    margin: 0px;
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)),
                      linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
  background-size: 16px 16px;
  background-repeat: repeat;
  background-position: center center;
  
  }

  header {
    display: flex;
    width: 100%;
    background-color: rgb(122, 211, 226);
    align-items: center;
  
  }
   
  .title {
    margin-left: 10px;
  }
   
  #active {
    margin-right: 30px;
    list-style: none;
    display: inline-block;
    padding: 3px;
    border:2px solid rgb(255, 84, 255);
  }

  h2{
    margin-top: 50px;
    margin-left: 300px;
    font-size: 20px;
    display: inline-block;
    padding: 0.5em;/*文字周りの余白*/
    color: #494949;/*文字色*/
    background: #f6fbfc;/*背景色*/
    border: 5px;
    border-left: solid 5px rgb(122, 211, 226)/*左線（実線 太さ 色）*/ 
}

    

  h3{
    margin-top: 50px;
    margin-left: 300px;
    font-size: 20px;
    display: inline-block;
    padding: 0.5em;/*文字周りの余白*/
    color: #494949;/*文字色*/
    background: #f6fbfc;/*背景色*/
    border: 5px;
    border-left: solid 5px rgb(122, 211, 226)/*左線（実線 太さ 色）*/ 
    
  }

  p{
    font-size: 20px; 
    font-weight: 10;
    padding-left: 50px;
  }
 
  .p1{
   padding-left: 300px;
  }

.jobs{
  border: 2px solid #000000;
  border-radius:5px;
  padding: 10px;
  padding-left: 30px;
  padding-bottom: 20px;
  margin: 10px;
  margin-left: 300px;
  margin-right: 300px;
}

.imagesinindex{
  width: 500px;
  height: 400px;
  opacity: 0.8F;
  margin-left: 200px;
  padding-bottom: 20px;
  
}

footer{
  background-color: rgb(122, 211, 226);
  height: 40px;
  margin: 0px;
  padding: 0px;
}

nav ul li a {

  color: white;
  text-decoration: none;
  }

nav ul li:hover{

  background-color: darkgrey;
}

nav ul{
  text-align: center;
  font-size: 1em;
}

nav ul li {
  list-style-type: none;
  background-color: grey;
  display: inline;
  padding: 3px;
  margin: 5px;
  border:2px solid rgb(255, 255, 255);
  border-radius: 3px;
}

footer p {
  text-align: center;
  color: rgb(255, 255, 255);
  }

#headline{
  margin: 0;
  padding:0px;
}

.jhunt{
  color: rgb(255, 255, 255);
}

.jobfound{
  text-align: center;
  font-size: 30px;
}

td{
  font-weight: 10;
}

table{
  padding-left: 100px;
}

iframe{
  padding-left: 200px;
}

h4{
  font-size: xx-large;
}

.space{
  margin-bottom: 100px;
}

.homea{
  padding-left: 50px;
  font-size: 20px;
}

.hometext{
  margin-right: 300px;
}

.jobtitle{
  padding: 4px;
}

iframe{
  margin-left: 100px;
}